*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading-part1{
    opacity: 0;
    animation-delay: 1.5s;
}
.heading-part2{
    opacity: 0;
    padding-left: 10px;
    padding-right: 10px;
    animation-delay: 1.5s;
}
.heading-part1 .animate__{
    opacity: 1;
}
.heading-part2 .animate__{
    opacity: 1;
}
.knowmore{
    opacity: 0;
    animation-delay: 2s;
}
.knowmore .animate__{
    opacity: 1;
}
#scrolltotop{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
    outline: none;
    color: rgb(30, 202, 214);
	cursor: pointer;
	writing-mode: vertical-rl;
		
}

#theme-toggle{
    color: white;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 40%;
    text-decoration-color: rgba(0,0,0,0);
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    border-color: white;
    border:1px solid;
    cursor: pointer;
    outline: none;

}

#lines{
    color: white;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 40%;
    text-decoration-color: rgba(0,0,0,0);
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    transform: rotate(90deg);
    border-color: white;
    border:2px solid;
    cursor: pointer;
    outline: none;
}

html{
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #555;
    scroll-behavior: smooth;
    background: #000;
}
h1, h2, h3, h4, h5, h6{
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
}
a{
    color: white;
}
ul{
    list-style: none;
}

div h3.title{
    color:#2196f3;
    text-transform: capitalize;
    font-size: 32px;
    padding-top: 10px;
    margin-bottom: 35px;
    text-align: center;
}

hr{
    width: 150px;
    height: 2px;
    background-color: #2196f3;
    border:0;
    margin: 40px auto;
}

/*********HEADER NAVIGATION****************/

nav{
    background-color: rgba(0,0,0,0);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    opacity: .6;
    justify-content: space-around;
    cursor: pointer;

}
nav a:hover{
    opacity: 1;
    text-decoration: line-through;
    color: #2196f3;
}
#logoicon{
    opacity: 1;
}

nav ul{
    font-size: 14px;
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    align-items: center;
}
nav li{
    margin: 0 7px;
    align-items: center;
    padding-right: 10px;
    text-align: center;

    /*justify-content: space-around;*/
}
nav li:nth-child(1){
    margin-left: 0;
}
nav li:last-child{
    margin-right: 0;
}
@media screen and (max-width: 1000px){

    nav{
        position: relative;
        background-color: rgba(255,255,0,1);
    }
    .linefornav{
        top: 35px;
        right: 4%;
        width: 30px;
        margin-right: 5px;
        height: 45px;
        transform: translate(-5%, -50%);
        position: absolute;
        z-index: 1;
        color: #2196f3;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .linefornav span{
        display: block;
        left: 0;
        border-radius: 4px;
          height: 3px;
          width: 100%;
          margin: 7px auto;
          background: #2196f3;
          opacity: 1;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
    }

    .linefornav span:nth-child(1) {
        top: 0px;
        transform-origin: left center;
    }

    .linefornav span:nth-child(2) {
         top: 18px;
         transform-origin: left center;
    }

    .linefornav span:nth-child(3) {
        top: 36px;
        transform-origin: left center;
    }

    .linefornav.cross span:nth-child(1) {
            top: -3px;
            left: 8px;
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(45deg);
    }

    .linefornav.cross span:nth-child(2) {
        opacity: 0;
        width: 0%;
        
    }

    .linefornav.cross span:nth-child(3) {
          
          top: 39px;
            left: 8px;
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-45deg);
    }

    .nav-links{
            background: #0A0A0A;
            opacity: 0.9;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            display: flex;

            clip-path: circle(100px at 90% -20%);
            -webkit-clip-path:circle(100px at 90% -20%);
            pointer-events: none;

            transition: all 1s ease-out;
        
    }
    .nav-links.open{
            clip-path: circle(1000px at 90% -10%);
            -webkit-clip-path:circle(1000px at 90% -20%);   
            pointer-events: all;
            
    }
    .nav-links li{
            margin-bottom: 20px;
            align-items: center;
        }
    .nav-links li a{
            font-size: 25px;
            opacity: 1;
        }

        nav p{
            justify-content: space-around;
            align-self: flex-start;
            
        }
        nav h2 img{
            width: 75%;
        }

        nav h2{
            margin-bottom: 15px;
        }
}


/****about***/
#about{
    padding: 20px;
    /*background-color: #f7f7f7;*/
    background: #000;
    margin-bottom: 20px;
}
#two-cols{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about-image{
    
}

.about-bio{
    width: 65%;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 800px;
    text-align: justify;
    line-height: 2;
    color: white;
    margin-left: 20px;
}
@media(max-width: 600px){
    #about,#two-cols{
        flex-direction: column;
        }
    .about-bio{
            margin-top: 20px;
            line-height: 1.5;
            text-align: justify;
        }
    }

    .about-part1 {
		opacity: 0;
	}
	.about-part2{
		opacity: 0;
	}
	.about-part1 .animate__{
		opacity: 1;
	}
	.about-part2 .animate__{
		opacity: 1;
	}

/***Educational Timeline*****/



body {
background:#000;
font-family: 'Josefin Sans', sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #2693f3;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: black;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #2693f3;
  border: 4px solid blue;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent #2693f3 transparent #2693f3;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #2693f3 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #2693f3;
  position: relative;
  border-radius: 6px;
  line-height: 2;
  color: #000;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #2693f3 transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
  .content{
    line-height: 1.5;
  }
}


.tl-part1{
    opacity: 0;
}
.tl-part2{
    opacity: 0;
}
.tl-partp{
    opacity: 0;
    color: white;
}
.tl-part1 .animate__{
    opacity: 1;
}
.tl-part2 .animate__{
    opacity: 1;
}
.tl-partp .animate__{
    opacity: 1;
}


/****HERO----HOMEPAGE***/

#hero{
    background: gray;
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;        
    justify-content: center;
    background-image: url("images&icons/bgr1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
}
#hero h1, #hero h3{
    font-size: 28px;
    text-shadow: 2px 2px #000;
    margin-bottom: 40px;
}
        
#hero h1{
    font-size: 60px;
    margin-bottom: 15px;
}
#hero a.btn{
    color: white;
    background-color: #131633;
    text-decoration: none;
    padding: 20px 46px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    border:2px solid white;
}
#hero a.btn:hover{
    background-color: #2696f3;
    color: black;
}

@media(max-width: 800px){
    #hero{
        min-height: device-height;
    }
    #hero h1{
        font-size: 36px;
    }
    #hero h3{
        font-size: 18px;
    }
    #hero a.btn{
        padding: 15px 40px;
    }
}
/********Skills**************/
#Skills{
    text-align: center;
    max-width: 800px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    line-height: 2;
    background: #000;
    color: white;
}
#Skills ul.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
}

#Skills ul.grid li{
    flex-basis: 30%;
    padding: 0 20px;
    margin-bottom: 40px;
}   
.ico{
    font-size: 40px;
    color: #2196f3;
    margin-bottom: 20px;
}
#Skills ul.grid li h4{
    color: #61B8CE;
    font-size: 20px;
    margin-bottom: 10px;
}
#Skills ul.grid li p{
    text-align: center;
    margin: 0;
}
@media(max-width: 1000px){
    #Skills{
        padding: 0 40px;
        line-height: 1.5;
    }
    #Skills ul.grid li{
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    #Skills ul.grid li p{
        text-align: center;
    }
}


.skills-part1{
	opacity: 0;
}
.skills-part2{
	opacity: 0;
}
.skills-part1 .animate__{
	opacity: 1;
}
.skills-part2 .animate__{
	opacity: 1;
}
/*******Frameworks*******/
.framework{
	padding: 10px;
	margin: 10px;
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.fwimg{
	padding: 20px;
	width: device-width;
	height: device-height;
}
.fwf{
	width: 70px;
	height: 70px;
	margin: 10px;
	
}
.fw-part1{
	opacity: 0;
}
.fw-part2{
	opacity: 0;
}
.fw-part1 .animate__{
	opacity: 1;
}
.fw-part2 .animate__{
	opacity: 1;
}

/*******Portfolio******/

#portfolio{
        /*background-color: #fff;*/
        font-family: 'Josefin Sans', sans-serif;
        color: white;
    }
    #portfolio .grid li{
        padding: 20px;
        height: 350px;
        border-radius: 3px;
        background-clip: content-box;
        background-size: cover;
        background-color: #333;
        color: white;
    }
    #portfolio.grid li a{
        justify-content: center;
    }
    #portfolio ul.grid{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #portfolio .grid li.small{
        position: relative;

        flex-basis: 50%;
    }
    #portfolio .grid li.large{  
        position: relative;
        
        flex-basis: 50%;
    }

    #portfolio .grid li.large #lo{
		opacity: 0;
		padding: 10px;
		margin: 25px;

	}
	#portfolio .grid li.large:hover #lo{
		background-color: rgba(38,147,243,0.1);
		color: white;
		border:2px solid white;
		align-items: center;
		border-radius: 20px;
		opacity: 0.8;
		transition: 0.5s ease-in-out;
	}
	#portfolio .grid li.large #po{
		color: white;
	}
	#portfolio .grid li.large:hover #po{
		display: none;
	}

    #btnopen{
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: white;
        background-color: #131633;
        text-decoration: none;
        padding: 15px 30px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        opacity: 1;
        border:2px solid white;
    }
    #btnopen:hover{
    background-color: #2696f3;  
    color: black;
}

    #portfolio p{
        max-width: 800px;
        text-align: center;
        margin: 0 auto 35px;
        padding: 0 20px;
        line-height: 2;
    }
    @media(max-width: 1000px){
        #portfolio .grid li.small,
        #portfolio .grid li.large{
            flex-basis: 100%;
        }
    }

    .port-part1{
		opacity: 0;
	}
	.port-part2{
		opacity: 0;
	}
	.port-part1 .animate__{
		opacity: 1;
	}
	.port-part2 .animate__{
		opacity: 1;
	}

/***********Contact Me************************/
    
    #contact ul.grid{   
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 60px;
        list-style-type: none;
    }
    #contact ul.grid li{
        flex-basis: 30%;
        padding: 0 20px;
        margin-bottom: 40px;
        text-align: center;
    }   
    #contact ul.grid li p{
        text-align: center;
        color: white;
        line-height: 2;
        opacity: 1;
    }
    
@media screen and (max-width: 1000px){
    #contact ul.grid li{
        flex-basis: 70%;
        margin-bottom: 65px;
        text-align: center;
    }
    #contact ul.grid li p{
        text-align: center;
        color: white;
        line-height: 1.5;
        opacity: 1;
    }
}   
.cont-part1{
	opacity: 0;
}
.cont-part2{
	opacity: 0;
    
}
.cont-part1 .animate__{
	opacity: 1;
}
.cont-part2 .animate__{
	opacity: 1;
}

/***********download cv************************/
#cv{
    color: white;
    background-color: #131633;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    border:2px solid white;
}
    #cv:hover{
    background-color: #2696f3;
    color: black;   
}
.cv-part1{
	opacity: 0;
}
.cv-part1 .animate__{
	opacity: 1;
}
/***********Footer***/

footer{
    background-color: #131622;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom,#284e7a, #000 100%);
    padding: 60px 0;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    text-transform: capitalize;
    font-size: 14px;
    color: rgba(255,255,255,.8);
    margin-bottom: 10px;
}
footer ul{
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}
footer ul li{
    margin: 0 8px;
}
footer ul li a{
    font-size: 36px;
    cursor: pointer;
}
@media(max-width: 800px){
    footer{
            padding: 80px 15px;
        }
    }

    .sm-part1{
        opacity: 0;
        animation-delay: 0.25s;
    }
    .sm-part2{
        opacity: 0;
        animation-delay: 0.75s;
    }
    .sm-part1 .animate__{
        opacity: 1;
    }
    .sm-part2 .animate__{
        opacity: 1;
    }
